beautifulsoup4==4.12.3
bert-score==0.3.13
boto3==1.34.54
botocore==1.34.54
bs4==0.0.2
click==8.1.7
datasets==2.18.0
diskcache==5.6.3
Flask==3.0.2
httpx==0.27.0
huggingface-hub==0.21.3
Jinja2==3.1.3
jmespath==1.0.1
openai==1.13.3
rank-bm25==0.2.2
safetensors==0.4.2
selfcheckgpt==0.1.6
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
tokenizers==0.15.2
torch==2.2.1
transformers==4.38.2
tzdata==2024.1
urllib3==2.0.7
Werkzeug==3.0.1
